# Dependencias
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Build de Next.js
/.next/
/out/

# Producción
/build

# Variables de entorno (CRÍTICO: No las subas nunca)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del Sistema / Editores
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?